#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: #4285F4; 
}

#page-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #sidebar-wrapper{
    width: 250px;
}

#wrapper.toggled #page-wrapper{
    padding-left: 250px;
}

.sidebar-nav{
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;

}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    background: #0d47a1
}